
/* タブ切り替え */
#faq .tab{
    list-style: none;
    margin:40px 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#faq .tab li{
    flex:1;
    position: relative;
    margin:0 1%;
    max-width: 200px;
}
#faq .tab li a{
    top:0;
    left:0;
    width:calc(100% - 20px);
    height: 100%;
    position: absolute;
    text-decoration: none;
    color: #FFF;
    background-color: rgba(0,0,0, 0.75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:max(1.5vw,15px); 
    font-weight: bold;
    padding-right:20px;
}
#faq .tab li a:hover{
    color: #1C1C1C;
    background-color: rgba(255,255,255, 0.60);
}
#faq .tab img{
    position: relative;
    width:100%;
}
#faq .content .title h2{
    color:#666666;
    font-size: max(2.5vw,30px);
}
#faq .content .title h3{
    color:#BDBEBF;
    margin-top:8px;
}
/* タグ */
.tag{
    list-style: none;
    width:80%;
    margin:30px 10%;
    padding:0;
}
.tag li{
    float: left;
    margin:3px;
    padding:3px 10px;
    border: 1px solid #4B4B4B;
    border-radius: 50px;
}
.tag li:last-child{
    clear: both;
}
.tag li a{
    text-decoration: none;
    color:#4B4B4B;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}
/*---- タブ切り替え ----*/
#faq .tab .active a{
    color: #1C1C1C;
    background-color: rgba(255,255,255, 0.60);
}
#faq .area{
    display: none;/*はじめは非表示*/
}
#faq .area.is-active{
    display: block;
    animation: show .5s linear 0s;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*---- スマホサイズ幅 ～520 ----*/

@media screen and (max-width: 520px) {
    #faq .tab li a{
        padding-right:0;
        justify-content: center;
    }
}
