
/* タブ切り替え */
#faq .tab{
    list-style: none;
    margin:40px 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#faq .tab li{
    flex:1;
    position: relative;
    margin:0 1%;
    max-width: 200px;
}
#faq .tab li a{
    top:0;
    left:0;
    width:calc(100% - 20px);
    height: 100%;
    position: absolute;
    text-decoration: none;
    color: #FFF;
    background-color: rgba(0,0,0, 0.75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:max(1.5vw,15px); 
    font-weight: bold;
    padding-right:20px;
}
#faq .tab li a:hover{
    color: #1C1C1C;
    background-color: rgba(255,255,255, 0.60);
}
#faq .tab img{
    position: relative;
    width:100%;
}
/* タグ */
.tag{
    list-style: none;
    width:80%;
    margin:30px 10%;
}
.tag li{
    float: left;
    margin:3px;
    padding:3px 10px;
    border: 1px solid #4B4B4B;
    border-radius: 50px;
}
.tag li:last-child{
    clear: both;
}
.tag li a{
    text-decoration: none;
    color:#4B4B4B;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}