.topImg{
    width:100%
}
.topImg img{
    width:100%;
}
#mainProducts .title{
    text-align: center;
    margin-bottom:60px;
}

/*---- 製品タブ ----*/
#mainProducts .area{
    display: none;/*はじめは非表示*/
}
#mainProducts .area.is-active{
    display: flex;
    animation: show .5s linear 0s;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#mainProducts .tab{
    width:80%;
    margin:20px 10%;
}
#mainProducts .tab{
    padding:0;
    margin:20px 10%;
}

#mainProducts .tab li{
    margin:0 1%;
    padding:0;
    width:23%;
	list-style: none;
    float: left;
    text-align: center;
    font-weight: bold;
    display: block;
    background-size: contain;
}
#mainProducts .tab .list-cat-1{
    background: url(../images/product-cat-1.jpg) no-repeat;
    
}
#mainProducts .tab .list-cat-2{
    background: url(../images/product-cat-2.jpg) no-repeat;

}
#mainProducts .tab .list-cat-3{
    background: url(../images/product-cat-3.jpg) no-repeat;

}
#mainProducts .tab .list-cat-4{
    background: url(../images/product-cat-4.jpg) no-repeat;

}
#mainProducts .tab li a{
    margin: 0;
    padding:30px 0;
	display: block;
    text-decoration: none;
    color:#FFF;
    font-size: 1.8vw;
    background-color: rgba(0,0,0, 0.67);
    width:100%;
    height:100%;
}
#mainProducts .tab .active a{
    background-color: rgba(0,0,0, 0.24);
}
/*---- 製品一覧 ----*/
.produtct-list{
    margin:40px 10%;
    width:80%;
    color:#666666;
    display: flex;
    flex-wrap: wrap;
}
.produtct-list .list-item{
    margin:0 2%;
    width:21%;
    position: relative;
}
.produtct-list .list-item a{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.produtct-list .list-item img{
    width:100%;
}
.produtct-list .list-item .list-title{
    font-weight: bold;
    padding :10px 0;
    text-align: center;
}
.produtct-list .list-item .list-body{
    padding:5px 0 10px 0;
}

/*---- 製品詳細ページ ----*/
.product-info{
    display: flex;
    width:80%;
    margin:40px 10%;
}
.product-info .half{
    flex:1;
    width:50%;
}
.product-info .product-image img{
    width:100%;
}
.product-info .product-content .sub-title{
    font-size: 1.3vw;
}
.product-info .product-content .title{
    font-size: 2.5vw;
    font-weight: bold;
}
.product-info .product-content .under-title{
    font-size: 1.5vw;
}
.product-info .product-content .recomend{
    font-size: 1.2vw;
}
.product-info .product-content .btnarrow{
    width:50%;
}
.product-info .product-content .pro-button a{
    width:90%;
    margin-top:20px;
    padding:10px 0%;
    display: block;
    text-decoration: none;
    color:#4B4B4B;
    background-color: #fff;
    border: 1px solid #4B4B4B;
    text-align: center;
}

/*---- スペック用のテーブル ----*/
.spec{
    width:100%;
    text-align: center;
}
.basic-table{
    width:100%;
    text-align: center;
}
table{
    display: inline-block;
    border-collapse:  collapse; /* セルの線を重ねる */
}
th,td {
    border: solid 1px #E3E3E3; /* 枠線指定 */
    padding:20px 30px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}
td{
    line-height: 1.2em;
}
td span{
    font-size: 12px;
}
th {
    background-color: #6C7B5A;
    color: #FFF;
}
table tr:nth-child(odd){
    background-color: #F8F8F8;
  }

  /* アンカーリンク先のタイトル */
  .anker{
      width:100%;
      text-align: center;
      margin-bottom:30px;
  }
  .anker p{
      /* 2.3vw標準で18px以上*/
      display: inline-block;
      width:auto;
    font-size:max(2vw,18px);    
    border-bottom: 1px solid #707070;
    padding:20px 40px;
}
/* 特徴エリア */
#feature{
    background-color: #F6F6F6;
    margin:40px 0;
    padding: 40px 0;
}
.square-block{
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
    background-color: #FFF;
    text-align: center;
    width:calc(70% - 80px);
    margin-left:calc(15%);
    margin-bottom:30px;
    padding:40px 40px;
}
.square-block .title{
    /* 2.3vw標準で18px以上*/
    font-size:max(2vw,18px);
}
.square-block .line{
    display: inline-block;
    width:20%;
    height:1px;
    background-color: #707070;
}
.square-block p{
    text-align: left;
    line-height: 1.8em;
}
.square-block img{
    width:100%;
    margin:30px 0;
}

/*---- PC(小) 521～920 ----*/

@media screen and (max-width: 920px) {
    /*カテゴリタブを２列にする*/
    #mainProducts .tab li{
        margin:10px 3%;
        width:44%;
    }
    #mainProducts .tab li a{
        font-size: 18px;
    }
}

/*---- スマホ ～520 ----*/

@media screen and (max-width: 520px) {
    /* 製品一覧のカラム落とし */
    .produtct-list .list-item{
        margin:0 5%;
        width:90%;
    }
    #mainProducts .tab li a{
        font-size: 15px;
    }
    /* 製品詳細のカラム落とし */

    .product-info .half{
        width:100%;
    }
    .product-info{
        flex-direction: column;
    }
    .product-info .product-content .btnarrow{
        width:100%;
        margin-top:20px;
        padding:10px 0;
        text-align: center;
    }
    .product-info .product-content .pro-button a{
        width:100%;
    }
    .spec table,table{
        width:90%;
    }
    /* テーブルのセル幅 */
    .spec th,.spec td {
        /*width:95%;*/
        display: block;
        padding:10px 0;
        margin:0;
    }
    .spec table tr:nth-child(odd){
        background-color: #FFF;
    }
    /* 通常テーブルは文字サイズ変更*/
    .basic-table td{
        font-size: 12px;
    }
}