
#mainProducts .title{
    text-align: center;
    margin-bottom:60px;
}

/*---- 製品タブ ----*/
#mainProducts .area{
    display: none;/*はじめは非表示*/
}
#mainProducts .area.is-active{
    display: flex;
    animation: show .5s linear 0s;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#mainProducts .tab{
    width:80%;
    margin:20px 10%;
}
#mainProducts .tab{
    padding:0;
    margin:20px 10%;
}

#mainProducts .tab li{
    margin:0 1%;
    padding:0;
    width:23%;
	list-style: none;
    float: left;
    text-align: center;
    font-weight: bold;
    display: block;
}
#mainProducts .tab .list-cat-1{
    background: url(../images/product-cat-1.jpg) no-repeat;
    background-size: cover;
    
}
#mainProducts .tab .list-cat-2{
    background: url(../images/product-cat-2.jpg) no-repeat;
    background-size: cover;

}
#mainProducts .tab .list-cat-3{
    background: url(../images/product-cat-3.jpg) no-repeat;
    background-size: cover;

}
#mainProducts .tab .list-cat-4{
    background: url(../images/product-cat-4.jpg) no-repeat;
    background-size: cover;

}
#mainProducts .tab li a{
    margin: 0;
    padding:30px 0;
	display: block;
    text-decoration: none;
    color:#FFF;
    font-size: 1.8vw;
    background-color: rgba(0,0,0, 0.67);
    width:100%;
    height:100%;
}
#mainProducts .tab .active a{
    background-color: rgba(0,0,0, 0.24);
}
/*---- 製品一覧 ----*/
.produtct-list{
    margin:40px 10%;
    width:80%;
    color:#666666;
    display: flex;
    flex-wrap: wrap;
}
.produtct-list .list-item{
    margin:0 2%;
    width:21%;
    position: relative;
}
.produtct-list .list-item a{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.produtct-list .list-item img{
    width:100%;
}
.produtct-list .list-item .list-title{
    font-weight: bold;
    padding :10px 0;
    text-align: center;
}
.produtct-list .list-item .list-body{
    padding:5px 0 10px 0;
}

/*---- 製品詳細ページ ----*/
.product-info{
    display: flex;
    width:80%;
    margin:40px 10%;
}
.product-info .half{
    flex:1;
    width:50%;
}
.product-info .product-image img{
    width:100%;
}
.product-info .product-content .sub-title{
    font-size: max(1.3vw,11px);
}
.product-info .product-content .title{
    font-size: max(2.5vw,21px);
    font-weight: bold;
}


.product-info .product-content .under-title{
    font-size: max(1.5vw,15px);
}
.product-info .product-content .recomend{
    font-size: max(1.2vw,11px);
}
.product-info .product-content .btnarrow{
    width:50%;
    background-color: #4B4B4B;
    color:#FFF;
    padding-top:13px;
    padding-bottom:13px;
}
.product-info .product-content .btnarrow:hover{
    background-color: #707070;
}
.product-info .product-content .btnarrow::before{
    background-color: #FFF;
}
.product-info .product-content .btnarrow::after{
    background-color: #FFF;
}
.product-info .product-content .btnarrow:hover::before{
    /*矢印が白背景と同化するので半分から右をグラデーション*/
    background:linear-gradient(90deg, #FBFBFB 50%, #4B4B4B 100%);
}
.product-info .product-content .btnarrow:hover::after{
    background-color: #4B4B4B;
}
.product-info .product-content .pro-button a{
    width:90%;
    margin-top:20px;
    padding:13px 0%;
    display: block;
    text-decoration: none;
    color:#4B4B4B;
    background-color: #fff;
    border: 1px solid #4B4B4B;
    text-align: center;
    transition: 0.3s;
}
.product-info .product-content .pro-button a:hover{
    background-color: #EAEAEA;
    border-color:#EAEAEA ;
    transition: 0.3s;
}

/*アンカーリンクのリスト*/
.anker-link {
    text-align: center;
    display: flex;
    justify-content: center;
}
.anker-link ul{
    max-width:90%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F7F7F7;
    border-radius: 25px;
    padding:0 3vw;
    flex-wrap: wrap;
}
.anker-link ul li{
    padding:10px 10px 7px 10px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
    white-space: nowrap;
    font-size:max(1.2vw,11px);
    flex:1;
    text-align: left;
    display: inline-block;
}
.anker-link ul li a{
    text-decoration: none;
    color: #696969;
}
.anker-link ul li img{
    width:1.8vw;
    min-width: 20px;
}

/*---- スペック用のテーブル ----*/
.spec{
    width:100%;
    text-align: center;
}
.basic-table{
    width:100%;
    text-align: center;
    margin-bottom:40px;
    overflow-wrap:break-word;
}

.basic-table p{
    display: inline-block;
    width:50%;
    text-align: left;
}
table{
    display: inline-block;
    border-collapse:  collapse; /* セルの線を重ねる */
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
}

th,td {
    border: solid 1px #E3E3E3; /* 枠線指定 */
    padding:20px 30px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}
td{
    line-height: 1.2em;
}
td span{
    font-size: 12px;
}

th {
    background-color: #6C7B5A;
    color: #FFF;
}
.tr-g td{
    background-color: #F8F8F8;
}

/*1列のみテーブル*/
.basic-table .one{
    width:70%;
    margin:0 15%;
}
.one td .title{
    font-size:max(1.8vw,18px); 
    margin-top:20px;
    display: inline-block;
}
.one td p{
    width:100%;
}
/*
table tr:nth-child(odd){
    background-color: #F8F8F8;
  }*/

  /* アンカーリンク先のタイトル */
  .anker{
      width:100%;
      text-align: center;
      margin-bottom:30px;
  }
  .anker p{
      /* 2.3vw標準で18px以上*/
      display: inline-block;
      width:auto;
    font-size:max(2vw,18px);    
    border-bottom: 1px solid #707070;
    padding:20px 40px;
}
/* ---- 特徴エリア -----*/
#feature,#other,#feature-trim-flower,#feature-maintenance{
    background-color: #F6F6F6;
    margin:40px 0;
    padding: 40px 0;
}
.square-block{
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
    background-color: #FFF;
    text-align: center;
    width:calc(70% - 80px);
    margin-left:calc(15%);
    margin-bottom:30px;
    padding:40px 40px;
}
.square-block .title{
    /* 2.3vw標準で18px以上*/
    font-size:max(2vw,18px);
}
.square-block .line{
    display: inline-block;
    width:20%;
    height:1px;
    background-color: #707070;
}
.square-block .line100{
    display: inline-block;
    width:100%;
    height:1px;
    background-color: #707070;
}
.square-block .border-top{
    margin-top:5px;
    padding-top:5px;
    border-top:1px solid #707070;
}
.square-block p{
    text-align: left;
    line-height: 1.8em;
    font-size: max(1.3vw,14px);
}
.square-block img{
    width:100%;
    margin:30px 0;
}
/*サポートボタン*/
.support-button{
    width:80%;
    margin:20px 10%;
    padding:10px 0;
    text-align: center;
    position: relative;
    background-color: #EAEAEA;
}
.support-button a{
    display: block;
    left:0;
    top:0;
    text-decoration: none;
    color: #4B4B4B;
    position:absolute;
    width: 100%;
    height: 100%;
    
}

/* ---- 関連商品 ---- */
.quarter{
    width:70%;
    margin-left:15%;
    margin-bottom:40px;
    display: flex;
}
.quarter .item{
    padding:10px;
    margin:0 5px;
    flex:1;
    background-color: #FFF;
    box-shadow: 0px 2px 4px grey;
}
.quarter .item .title{
    /* 1.2vw標準で15px以上*/
    font-size:max(1.2vw,15px);
    font-weight: bold;
}
.quarter .item p{
    /* 1vw標準で12px以上*/
    font-size:max(1vw,12px);
}
.quarter .none-item{
    background:none;
    box-shadow:none;
}
.quarter .item img{
    width:100%;
    height:15vw;
    object-fit: contain;
}
#other .button-area{
    text-align: center;
}
#other .button-area a{
    text-align: left;
    background-color: #4B4B4B;
    color: #FBFBFB;
}
#other .button-area .btnarrow::before{
    background-color: #FBFBFB;
     /* background:linear-gradient(90deg, #FBFBFB 70%, #4B4B4B 100%); */
}
#other .button-area .btnarrow::after{
    background-color: #FBFBFB;
}
#other .button-area .btnarrow:hover::before{
    /*矢印が白背景と同化するので半分から右をグラデーション*/
    background:linear-gradient(90deg, #FBFBFB 50%, #4B4B4B 100%);
}
#other .button-area .btnarrow:hover::after{
    background-color: #4B4B4B;
}

/*センタ―ボタン*/
.center-button{
    width:100%;
    text-align: center;
    margin:40px 0;
}
.center-button a{
    text-align: left;
}


/*　---- 剪定はさみページ ----　*/


/*はさみのアンカーリンクボタン*/
.trim-anker-link{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trim-anker-link ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin:40px 0;
    padding:0;
    align-content: stretch;
}
.trim-anker-link ul li{
    display: block;
    padding:25px 20px;
    border: 1px solid #707070;
    text-align: center;
    flex:1;
    white-space: nowrap;
}
.trim-anker-link ul li a{
    text-decoration: none;
    color: #4B4B4B;
}
.trim-anker-link ul li:hover{
    border: 1px solid #EAEAEA;
    background-color: #EAEAEA;
}

/* はさみの商品ブロック */
.trim-info{
    width:80%;
    margin-left:10%;
    display: flex;
}
.trim-info .half{
    flex:1;
    margin:0 10px;
}
.trim-info .trim-content img {
    width:100%; 
}
.trim-disc{
    color: #696969;
    font-size:max(1.5vw,15px); 
}
.trim-title{
    display: inline-block;
    font-size:max(2vw,20px); 
    margin:10px 20px 10px 0;
}
.trim-info .price{
    color: #707070;
    font-size:max(2vw,20px); 
    display: inline-block;
    margin:0 20px 30px 0;
}
.trim-info .price .small{
    font-size:max(1.5vw,15px); 
    margin-left:30px;
}
/* 剪定ばさみの購入ボタン */ 
.trim-info .button-area{
    width:100%;
}
.trim-info .button-area .btnarrow{
    padding-top:20px;
    padding-bottom:20px;
    width:calc(100% - 60px);
    background-color: #4B4B4B;
    color: #FFF;
}
.trim-info .button-area .btnarrow:hover{
    background-color: #777777;
}

.trim-info .button-area .btnarrow::before{
    background-color: #FFF;
}
.trim-info .button-area .btnarrow::after{
    background-color: #FFF;
    top:43%;
}
.trim-info .button-area .btnarrow:hover::before{
    /*矢印が白背景と同化するので半分から右をグラデーション*/
    background:linear-gradient(90deg, #FBFBFB 50%, #4B4B4B 100%);
}
/* PDFボタン*/
.trim-info .button-area .btnarrow:hover::after{
    background-color: #4B4B4B;
}
.pdf-button{
    width:100%;
    text-align: center;
}
.pdf-button a{
    width:50%;
    margin-top:40px;
    padding:20px 0;
    text-align: center;
    display: inline-block;
    background-color: #9A3D34;
    border: 1px solid #9A3D34;
    text-decoration: none;
    color: #FFF;
    transition: color 0.5s;
    font-size:max(1.5vw,15px); 
}
.pdf-button a:hover{
    background-color: #FFF;
    color: #9A3D34;
    border: 1px solid #9A3D34;
    transition: color 0.5s
}
#trim-flower .pdf-button a{
    width:100%;
}

/*使用方法*/
.how-to-use{
    padding:0;
    width:80%;
    margin-left:10%;
}
/*保管方法*/
.how-to-keep{
    border:1px solid #484848;
    padding:20px 50px;
}

/* ---- 希釈液の作り方---- */
.diluted{
    margin:40px 7.5%;
    padding:20px 7.5%;
    width:70%;

}
/*---- PC(小) 521～920 ----*/

@media screen and (max-width: 920px) {
    /*カテゴリタブを２列にする*/
    #mainProducts .tab li{
        margin:10px 3%;
        width:44%;
    }
    #mainProducts .tab li a{
        font-size: 18px;
    }
    /*テーブルの補足*/
    .basic-table p{
        width:90%;
        font-size: max(1.3vw,14px);
    }
    /* 4津並びの幅調整 */
    .quarter{
        width:90%;
        margin-left:5%;
    }
    .quarter .item{
        margin-bottom:30px;
        padding:10px 20px;
    }
}

/*---- スマホ ～520 ----*/

@media screen and (max-width: 520px) {
    /* 製品一覧のカラム落とし */
    .produtct-list .list-item{
        margin:0 5%;
        width:90%;
    }
    #mainProducts .tab li a{
        font-size: 15px;
    }
    /* 製品詳細のカラム落とし */

    .product-info .half{
        width:100%;
    }
    .product-info,.trim-info{
        flex-direction: column;
    }
    .product-info .product-content .btnarrow{
        width:100%;
        margin-top:20px;
        padding:10px 0;
        text-align: center;
    }
    .product-info .product-content .pro-button a{
        width:100%;
    }
    .spec table,table{
        width:auto;
        max-width: 90%;
    }
    /* テーブルのセル幅 */
    .spec th,.spec td {
        /*width:95%;*/
        display: block;
        padding:10px 0;
        margin:0;
        border-top:none;
    }
    .spec table td{
        background-color: #FFF;
    }
    /* 通常テーブルは文字サイズ変更*/
    .basic-table th{
        font-size: 14px;
        padding:10px 7px;
    }
    .basic-table td{
        font-size: 12px;
        padding:10px 7px;
    }
    /* 関連製品のカラム落とし */
    .quarter{
        flex-direction: column;
    }
    .quarter .item img{
        height:auto;
    }
    /*PDFボタン*/
    .pdf-button a{
        width: calc(80% - 20px);
    }
    .trim-flower .pdf-button a{
        width: 100%;
    }
    /*オンラインショップボタン*/
    #other .button-area a{
        width:60%;
    }
}