body {
    color:#302D2C;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.wrap {
    max-width: 1800px;
    /* min-width:920px; */
    width: 100%;
    margin: 0 auto;
}


/*---- ヘッダー ----*/

.site_header {
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.site_header ul li {
    list-style: none;
}

.site_header li a {
    text-decoration: none;
    color: #fff;
}


/*---- ロゴ ----*/

h1 {
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    left: 0;
}

h1 img {
    max-width: 416px;
    min-width: 175px;
    width: 20vw;
}


/*---- グローバルナビ ----*/

.gnav_wrap {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width:100%;
}

.gnav_main {
    background-color: #484848;
    width: 45%;
}


/*各ブロック*/

.gnav_main_block {
    width: 100%;
    float: left;
}


/*上nav*/

.gnav_upperMenu {
    width: 100%;
    font-size: 1vw;
    padding: 0;
    text-align: right;
}

.gnav_upperMenu img {
    width: 1.3vw;
    margin: 5px;
    margin-bottom: 0;
}

.gnav_upperMenu li {
    display: inline;
    margin-right: 0.8em;
}


/*下nav*/

.gnav_lowerMenu {
    display: inline-block;
    width: 100%;
    font-size: 1vw;
    padding: 0;
    text-align: center;
    margin-top: 4%;
}
/* hover時*/
.gnav_lowerMenu a{
    position: relative;
}
.gnav_lowerMenu a::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    height: 4px;
    width:100%;
    background: #F8F8F8;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }
  .gnav_lowerMenu a:hover::after {
    bottom: -8px;
    opacity: 1;
    visibility: visible;
  }
  /*---- ナビのHover時のサブメニュー ----*/
  .gnav-about{
    display: none;
    width:100%;
    background-color: rgba(255,255,255, 0.87);
    color: #302D2C;
    padding-bottom:30px;
  }
  .gnav-about .content{
      width:80%;
      margin-top:30px;
      margin-left:10%;
      display: flex;
  }
  .gnav-about .content .title{
      border-bottom :1px solid #707070;
      padding-bottom:10px;
      font-weight: bold;
      
  }
  .gnav-about .content .sub-nav-left{
      flex:7;
  }
  .gnav-about .content .sub-nav-right{
    flex:3;
}
.gnav-about .content .sub-list ul{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    margin: 5px 0;
    padding:0;
}
.gnav-about .content .sub-list ul li{
    width:32%;
    padding:5px 0.5%;
    font-size: 1vw;
}
.gnav-about .content .sub-nav-right .button-area{
    margin:15px 0;
}
.gnav-about .content .sub-nav-right .button-area img{
    height:20px;
    margin-bottom:-5px;
}
.gnav-about .content .sub-nav-right .button-area span{
    margin-left:15px;
}
.gnav-about .content .sub-nav-right .button-area a{
    margin-left:15%;
    width: 70%;
    background-color: #FFFFFF;
    font-size: 0.8vw;
    padding:12px 10px;
    text-align: left;
}
.gnav-about .content .sub-nav-right .btnarrow::before{
    height:0.8px;
    width:30px;
}
.gnav-about .content .sub-nav-right .btnarrow::after{
    top:39%;
}

/*---- スマホ用ナビ ----*/

.gnav_sp {
    /*通常は非表示*/
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}

.sp_block {
    width: 8vw;
    height: 8vw;
    min-width: 40px;
    min-height: 40px;
    float: left;
}

.gnav_sp_en {
    background-image: url("../images/en-sp.svg");
    background-size: contain;
}

.gnav_sp_document {
    background-image: url("../images/document-sp.svg");
    background-size: contain;
}

.gnav_sp_menu {
    background-image: url("../images/menu-sp.svg");
    background-size: contain;
}

.gnav_lowerMenu li {
    display: inline;
    padding: 0 0.8em;
}

/* ---- スマホ用　スライドメニュー表示 ----*/
.slide-menu-sp{    
    position:absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width:100%;
    background-color: rgba(0,0,0, 0.75);
    color:#FFFFFF;
    transform: translateX(-100%);
    overflow-y: scroll;
    position: fixed;
    height:100%;
}
.slide-menu-sp .close-icon{
    text-align: right;
}
.slide-menu-sp .close-icon img{
    margin:10px;
}
.slide-menu-sp .title{
    width:100%;
    text-align: center;
    font-size: 21px;
    padding:30px 0;
}
.slide-menu-sp .content{
    width:80%;
    margin-left:10%;
}
.slide-menu-sp .content .menu-list{
    width:100%;
    border-bottom:1px solid #FFF;
    padding:10px 0 5px 0;
    margin-top:5px;
}
.slide-menu-sp .content .menu-list:last-child{
    border:none;
}
.slide-menu-sp .content .menu-list .list-item{
    width:78%;
    margin-left:2%;
    float: left;
    text-align: left;
}
.slide-menu-sp .content .menu-list .icon{
    width:18%;
    margin-right:2%;
    padding-bottom:4px;
    float: left;
    text-align: right;
}
.slide-menu-sp .content .menu-list .drop-list{
    padding:0;
    margin:0;
}
.slide-menu-sp .content .menu-list .drop-list ul{
    padding: 0;
    margin: 0 15px;
}
.slide-menu-sp .content .menu-list .drop-list ul li{
    font-size: 11px;
    margin:10px 0;
}
.slide-menu-sp .content .menu-list .drop-list ul li img{
    height:12px;
    margin-right:10px;
    margin-bottom:-2px;
}
.slide-menu-sp .two-block{
    width:100%;
    padding:20px 0;
}
.slide-menu-sp .two-block .half{
    float: left;
    width:50%;
}
.slide-menu-sp .two-block p{
    font-size: 9px;
    margin: 5px 0 5px 20%;
}
.slide-menu-sp .two-block p:last-child{
    font-size: 13px;
}
.slide-menu-sp .back-b{
    background-color: #000000;
}
.slide-menu-sp .back-g{
    background-color: #E6E6E6;
    color:#000000;
    text-align: center;
}
.slide-menu-sp .back-g img{
    height:47px;
    margin-bottom:10px;
}
.slide-menu-sp .back-g2{
    background-color: #302D2C;
    color:#FFFFFF;
    text-align: center;
    padding-bottom:20px;
}
.slide-menu-sp .back-g2 img{
    height:35px;
    margin-bottom:-10px;
}
.slide-menu-sp .back-g2 span{
    padding:10px;
}
.slide-menu-sp .bottom{
    color: #000;
    background-color: #FFF;
    padding:10px 0 30px 20px;
}
.slide-menu-sp .bottom span{
    display: inline-block;
    padding: 5px;
    font-size: 13px;
}
/*---- 資料請求 ----*/

.gnav_docmentRecuest {
    background-color: #696969;
    text-align: center;
    font-size: 0.7vw;
    padding: 0.8vw 1.8vw;
}

.gnav_docmentRecuest img {
    max-width: 38px;
    width: 2.5vw;
}


/*---- 電話番号 ----*/

.gnav_tel {
    font-size: 0.8vw;
    background-color: #302D2C;
    padding: 0 2.5%;
}

.gnav_tel p {
    display: block;
    width: 100%;
}

.gnav_tel img {
    max-width: 258px;
    width: 15vw;
}


/*---- TOPスライドイメージ ----*/

.slideBox {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: calc(935 / 1920 * 100%);
    /* calc(画像高さ ÷ 画像横幅 × 100%) */
}

.slide_image {
    top: 0;
    position: absolute;
    width: 100%;
    padding-top: calc(935 / 1920 * 100%);
    /* calc(画像高さ ÷ 画像横幅 × 100%) */
    opacity: 0;
    *-webkit-animation: anime 9s 0s infinite;
    animation: anime 9s 0s infinite;
}

.slide1 {
    opacity: 1;
    background: url(../images/top-image.jpg) center center / cover no-repeat;
    *-webkit-animation: none;
    animation: none;
}

.slide2 {
    background: url(../images/top-image2.jpg?20210921) center center / cover no-repeat;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.slide3 {
    background: url(../images/top-image3.jpg?20210921) center center / cover no-repeat;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}


/*---- TOP-hero メッセージ ----*/

.hero {
    z-index: 99;
    position: absolute;
    top: 23vw;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #fff;
}

.hero_text {
    font-size: 5.5vw;
    line-height: 160%;
    letter-spacing: 0.15em;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}


/*---- ニュース ----*/

#topNews {
    display: flex;
}

#topNews .title {
    display: flex;
    width: 21%;
    color: white;
    font-size: 2.8vw;
    text-align: center;
    letter-spacing: 0.1em;
    justify-content: center;
    align-items: center;
}

#topNews .content {
    background-color: #F6F6F6;
    width: 79%;
    display: flex;
    align-items: center;
}

#topNews dl {
    width:100%;
    flex-wrap: wrap;
    margin:0;
    display: block;
}

#topNews dl dt {
    width: 15%;
    padding-left: 3%;
    font-size: 1.5vw;
    white-space: nowrap;
    float: left;
}
#topNews dl dd {
    font-size: 15px;
    width: 82%;
    margin: 0;
    font-size: 1.5vw;
}

/*---- About Us ----*/
#about{
    display: flex;
    padding-left:10%;
    padding-bottom: 50px;
}
#about h2{
    font-weight:normal;
    font-size: 5vw;
    margin: 1em 0 0.3em 0;
}
#about h3{
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: normal;
    font-size: 1.8vw;
}
#about p{
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 1.3vw;
    display: block;
    width:80%;
    letter-spacing: 0.1em;
    line-height: 1.7em;
}
#about img{
    font-size: 5vw;
    margin-top:0.8em;
    width: 100%;
}
/*---- About Select ----*/
#about-select{
    position: relative;   
    display: flex;
}
#about-select .back-img{
    position:absolute;
    width:90%;
    background: url(../images/about-bg.jpg) center center no-repeat;
    background-size: contain;
    height:100%;
    z-index: -1;
}
#about-select .select-space{
/**/
}
#about-select .select-list{
    display: flex;
    padding-top:10%;
}
#about-select .select-list-item{
    flex:1;
    margin:0 30px 30px 0;
    width:calc(33.3333333% - 30px);
    background-color: white;
    font-family: 'Noto Sans Japanese', sans-serif;
    position: relative;
}
#about-select .select-list-item img{
    width:100%;
}
#about-select .select-list-item h3{
    font-size: 1.8vw;
    padding:0 20px;
}
#about-select .select-list-item p{
    margin:20px;
    font-size: 1.5vw;
    margin-bottom:50px;
}
#about-select .button-area{
    width:100%;
    text-align: right;
    position: absolute;
    bottom:0;
}
#about-select .button-area a{
    width:30%;
    text-align: left;
    margin-right:15px;
    font-size: 1.6vw;
}

/*---- タブ分けのニュース ----*/
#mainNews {
    text-align: center;
    margin:0 8%;
}
.title h2{
    font-weight: normal;
    font-size: 4.5vw;
    margin: 1em 0 0.3em 0;
}
.title h3{
    font-weight: normal;
    font-size: 1.3vw;
    color:#777777;
}
#mainNews .tab{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
#mainNews .tab li{
	list-style: none;
}
#mainNews .tab li a{
	display: block;
	margin:0 2px;
	padding:10px 20px;
    text-decoration: none;
    color: #A6A6A6;
}
/*liにactiveクラスがついた時の形状*/
#mainNews .tab li.active a{
	color: #000000;
}
/*エリアの表示非表示と形状*/
#mainNews .area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	padding:10px 20px;
}
#mainNews .area li{
    list-style: none;
    display: flex;
    padding:20px 5%;
    border-top: 1px solid #C6C6C6;
}
#mainNews .area li:last-child{
    border-bottom: 1px solid #C6C6C6;
}

/*areaにis-activeというクラスがついた時の形状*/
#mainNews .area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#mainNews .day{
    color:#A3A3A3;
}
#mainNews .cat{
    color:#A3A3A3;
}
#mainNews .newsBody {
    color:#666666;
	text-align: left;
    margin:0;
}
/*Moreボタン調整*/
#mainNews .button-area a{
    width:15%;
    text-align: left;
}

/*---- Gallery ギャラリー ----*/

#gallery{
    margin-top:50px;
    padding:20px 0 60px 0;
    width:100%;
    background-color: #F6F6F6;
    text-align: center;
}
.owl-carousel{
    margin-bottom:40px;
}
#gallery .item{
    text-align: left;
    background-color: white;
    box-shadow: 0px 2px 4px gray;
  }
  /*影用にpadding追加*/
  .owl-carousel .owl-stage{
      padding-bottom:5px;
  }
  #gallery .item .content{
      padding-top:1vw;
      padding-left:1vw;
  }
  #gallery .item span{
      font-size: 17px;
      font-weight: bold;
  }
  #gallery .item p{
      margin:0;
      font-size: 12px;
      color:#a6a6a6;
      padding-top:5px;
  }
  #gallery .item .address{
    font-size: 11px;
    padding-bottom:10px;
    padding-top:20px;
  }
  /*Moreボタン調整*/
  #gallery .button-area a{
    width:calc(15% - 2%);
    text-align: left;
}
/*---- Prosite ----*/
.lattice img{
    width:100%;
    height: 100%;
}

.lattice-img{
    flex:5;
}
.lattice-black{
    display: flex;
    text-align: center;
    flex:4;
    background-color: #000;
    color:white;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top:10px;
}
.lattice-black h2{
    margin:0;
    font-weight: normal;
    font-size: 4.2vw;
    letter-spacing: 0.1em;
}
.lattice-black h3{
    letter-spacing: 0.2em;
    font-weight: normal;
    font-size: 1.5vw;
}
.lattice-black .button-area {
    flex-shrink: 0;
    width:100%;
}
.lattice-black .button-area a{
    margin:4vw 0;
    width:40%;
    border-color:#FFFFFF;
    color:#FFFFFF;
}
.lattice-black .btnarrow::before {
    background: #FFFFFF;
}
.lattice-black .btnarrow::after {
    background: #FFFFFF;
}

/*---- Contact ----*/
#contact {
    color:#FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/contact-back.jpg) center center / cover no-repeat;
    padding:5vw 0;
}
#contact h2{
    margin:0;
    font-weight: normal;
    font-size: 4.2vw;
    letter-spacing: 0.1em;
}
#contact h3{
    letter-spacing: 0.2em;
    font-weight: normal;
    font-size: 1.5vw;
}
#contact .button-colmun{
    display: flex;
    justify-content: space-between;
}
#contact .btn-block{
    flex:1;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid #fff;
}
#contact .contact-btn{
    padding:30px;
}
#contact img{
    width:70%;
}
/*---- フッターボックス----*/
#footerBox{
    width:100%;
    background-color: #222222;
    color: #FFFFFF;
    padding-top:30px;
}
#footerBox .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin-left:5%;
}

#footerBox .content p{
    border-bottom:1px solid #676767;
    padding-bottom:10px;
}
#footerBox .cat-list{
    display: flex;
}
#footerBox .left-block{
    flex:4;
}
#footerBox .right-block{
    flex:5;
}
#footerBox .foot-list ul{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}
#footerBox .foot-list ul li{
    color:#E3E3E3;
    width:32%;
    padding:0.5%;
    font-size: 1.2vw;
}
#footerBox .left-block{
    margin-right:2%;
}
#footerBox .right-block .foot-list ul li{    
    width:48%;
    padding:0.5%;
}
/* ボタンエリア */

#footerBox .btn-area{
    /* display: flex; */
    display: block;
    text-align: center;
    margin-top:40px;
    padding-bottom:40px;
}
#footerBox  .btn-area .btns{
    margin:0 auto;
}
#footerBox .btn-area .btn-block{
    width:20%;
    padding:5px 10px;
    display: inline-block;
    text-align: center;
    font-size: 1.5vw;
    border:2px solid  #1A1311;
    margin:10px 15px;
}
#footerBox .btn-area .btn-block a{
    text-decoration: none;
    color:#A3A09F;
}
#footerBox .btn-area .btn-block .middle{
    border-bottom:1px solid #676767;
    font-size: 0.8vw;
    padding-bottom:5px;
}
#footerBox .btn-area .btn-block .bottom{
    margin:0 5px;
}
/*---- footerBottom ----*/
#footerBottom{
    color: #A3A09F;
background-color: #1A1311;
}
#footerBottom .footer-logo {
    padding:15px 30px;
}
#footerBottom .footer-info {
    padding:0 30px;
    font-size: 1.5vw;
    line-height:1.5em;
}
#footerBottom .footer-logo img{
    width:70%;
    max-width: 415px;
}
#footerBottom .footer-info .address{
    float: left;
    padding-bottom:10px;
    width:70%;
}
#footerBottom .footer-line{
    width:100%;
    height:1px;
    background-color: #A3A09F;    
}
#footerBottom .footer-info .sns{
    float: left;
    width:30%;
    text-align: right;
}
#footerBottom .footer-info .sns .insta-logo{
    max-width: 37px;
    width:30%;
    margin-left:10px;
}
#footerBottom .footer-info .sns .youtube-logo{
    max-width: 43px;
    width:30%;
    margin-left:10px;
}
#footerBottom .footer-policy{
    color:#FFF;
    font-size: 1.5vw;
    padding:0 30px 15px 30px;
}
#footerBottom .footer-policy ul{
    padding:0;
    list-style: none;
}
#footerBottom .footer-policy ul li{
    margin : 5px 10px 5px 0;
    float: left;
}

/*---- 汎用 ----*/

.p0{
    padding:0;
}
.m0{
    margin:0;
}
.bg-gray {
    background-color: gray;
}

.fc-white {
    color: white;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.taling-l {
    text-align: left;
}

.taling-c {
    text-align: center;
}

.taling-r {
    text-align: right;
}
.disp-flex{
    display: flex;
}
.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-5{flex:5;}
.flex-6{flex:6;}
.flex-7{flex:7;}
.flex-8{flex:8;}
.flex-9{flex:9;}
.flex-10{flex:10;}

/* 縦横比一定の正方形 */

.rect-wrap {
    width: 50%;
}

.rect {
    width: 100%;
    padding-top: 100%;
    background-color: #29d632;
}

/*----- ゴーストボタン-----*/
.ghost-btn a {
    display: flex;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
  }
  .ghost-btn .top{
      display: block;
      width:100%;
      text-align: center;
  }
  .ghost-btn .middle{
      display: block;
      font-size: 1vw;
      width:100%;
      margin-top:10px;
  }
  .ghost-btn .bottom{
    display: block;
      width:85%;
      font-size: 1vw;
      text-align: right;
      margin-right:15%;
      margin-bottom:10px;
  }
/*---- Clear fix ----*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix:before {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    display: block;
}


/*---- スマホ ～520 ----*/

@media screen and (max-width: 520px) {
    .gnav_sp {
        display: block;
    }
    /*ロゴサイズと位置変更*/
    h1 {
        margin: 10px 20px;
    }
    h1 img {
        max-width: 416px;
        min-width: 175px;
        width: 20vw;
    }
    /* スライド画像をスマホ用に変更 */
    .slideBox {
        padding-top: calc(542 / 428 * 100%);
    }
    .slide_image {
        width: 100%;
        height: 0;
        padding-top: calc(542 / 428 * 100%);
        /* calc(画像高さ ÷ 画像横幅 × 100%) */
        background: url(../images/top-image-sp.jpg) center center / cover no-repeat;
    }
    /*heroテキストをスマホ用に変更*/
    .hero {
        top: 57vw;
    }
    .hero_text {
        font-size: 9vw;
    }
    #topNews dl dt{
        font-size: 11px;
    }
    #topNews dl dd{
        font-size: 11px;
    }
    /*About Us をカラム落とし*/
    #about{
        margin-top:50px;
        padding-left:0;
        flex-flow: column;
    }
    #about .about-item{
        padding:0 15px;
        float: right;
        order:2;
    }
    #about .fade-b{
        order:1;
    }
    /*About Us 文字サイズ調整*/
    #about .about-item h2{
        font-size: 40px;
    }
    #about .about-item h3{
        font-size: 20px;
    }
    #about .about-item p{
        display: block;
        font-size: 15px;
        width:100%;
    }
    /*ボタンエリア*/
    .button-area{
        text-align: right;
        width:100%;
    }
    .button-area a{
        width:130px;
        text-align: left;
        font-size: 16px;
    }
    #about-select .button-area a{
        font-size: 16px;
    }

    /*topNewsの幅調整*/
    #topNews dl dt { width:20%}
    #topNews dl dd { width:77%}
   
    /* About Us の背景を非表示*/
    #about-select .back-img{
        display: none;
    }
    /*アイテムのカラム落とし*/
    #about-select .select-list{
        flex-flow: column;
    }
    #about-select .select-list{
        display: block;
    }
    #about-select .select-space{
        display: none;
    }
    #about-select .select-list-item{
        width:100%;
        padding-bottom:40px;
    }
    /*文字サイズ変更*/
    #about-select .select-list-item h3{
        font-size: 20px;
    }
    #about-select .select-list-item p{
        font-size: 15px;
    }
    /* タブニュース */
    #mainNews {
        margin: 0 5%;
    }
    #mainNews .area ul{
        margin: 0;
        padding:0;
    }
    #mainNews .area li{
        display: block;
        text-align: left;
    }
    #mainNews .area span{
        padding: 5px;
    }
    #mainNews .area li p{
        padding-top:30px;
    }
    #mainNews .button-area a{
        width:30%;
    }
    /* ギャラリー */
    #gallery .item{
        width:90%;
        margin: 0 5%;        
    }
    #gallery .content{
        width:90%;
        margin: 5% 5%;
    }
    #gallery .button-area{
        text-align: center;
    }
    #gallery .button-area a{
        width:30%;
    }
    /*prosite */
    .lattice-black .button-area {
        text-align: center;
    }
    .lattice-black .button-area a{
        height:10px;
        font-size: 12px;
    }
    
    .lattice-img{
        flex:1;
    }
    .lattice-black{
        flex:1;
    }
    /* Contact */
    #contact {
        background: url(../images/contact-back-sp.jpg) center center / cover no-repeat;
    }
    #contact p{
        font-size: 11px;
    }
    #contact .button-colmun{
        flex-direction: column;
    }
    #contact .btn-block{
        margin:10px 20px;
    }
    .ghost-btn .middle{
        font-size: 11px;
    }
    .ghost-btn .bottom{
        font-size: 11px;
    }
    /* FooterBox フッターボックス*/
    #footerBox .content{
        flex-flow: column;
    }
    #footerBox .foot-list ul li{
        font-size: 10px;
        padding:5px 10px;
        width:auto;
    }
    #footerBox .right-block .foot-list ul li{
        padding:5px 10px;
        width:auto;
    }
    /* フッターボタン*/
    #footerBox .btn-area{
        text-align: left;
        flex-wrap: wrap;
    }
    #footerBox .btn-area .btn-block{
        width:33%;
        border-color: #FFF;
    }
    #footerBox .btn-area .btn-block .middle{
        font-size: 8px;
    }
    #footerBox .btn-area .btn-block .bottom{
        font-size: 10px;
        padding:5px;
    }
    #footerBottom{
        font-size: 10px;
    }
}


/*---- PC(小) 521～920 ----*/

@media screen and (max-width: 920px) {
    /*スマホ用ナビに変更*/
    .gnav {
        display: none;
    }
    .gnav_sp {
        display: block;
    }
}